/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Project Name: SUPER LAND NEW DESIGN
 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 10. 11. 2017
 Finish Date: 18. 10. 2017

*/


/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt7{margin-top:7px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt22{margin-top:22px!important}
.mt26{margin-top:26px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}

.lg-text-center{
    text-align: center !important;
}
.lg-text-left{
    text-align: left !important;
}
.lg-text-right{
    text-align: right !important;
}
.md-text-center{
    text-align: center !important;
}
.md-text-left{
    text-align: left !important;
}
.md-text-right{
    text-align: right !important;
}
.sm-text-center{
    text-align: center !important;
}
.sm-text-left{
    text-align: left !important;
}
.sm-text-right{
    text-align: right !important;
}
.xs-text-center{
    text-align: center !important;
}
.xs-text-left{
    text-align: left !important;
}
.xs-text-right{
    text-align: right !important;
}

/* FONTS */
@font-face {
    font-family: 'Coolvetica Rg Regular';
    src: url('../fonts/CoolveticaRg-Regular.eot');
    src: url('../fonts/CoolveticaRg-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CoolveticaRg-Regular.woff2') format('woff2'),
    url('../fonts/CoolveticaRg-Regular.woff') format('woff'),
    url('../fonts/CoolveticaRg-Regular.ttf') format('truetype'),
    url('../fonts/CoolveticaRg-Regular.svg#CoolveticaRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoldBrush';
    src: url('../fonts/BoldBrush.eot');
    src: url('../fonts/BoldBrush.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BoldBrush.woff2') format('woff2'),
    url('../fonts/BoldBrush.woff') format('woff'),
    url('../fonts/BoldBrush.ttf') format('truetype'),
    url('../fonts/BoldBrush.svg#BoldBrush') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro Light';
    src: url('../fonts/DINNextLTPro-LightCondensed.eot');
    src: url('../fonts/DINNextLTPro-LightCondensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextLTPro-LightCondensed.woff2') format('woff2'),
    url('../fonts/DINNextLTPro-LightCondensed.woff') format('woff'),
    url('../fonts/DINNextLTPro-LightCondensed.ttf') format('truetype'),
    url('../fonts/DINNextLTPro-LightCondensed.svg#DINNextLTPro-LightCondensed') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/DINNextLTPro-Condensed.eot');
    src: url('../fonts/DINNextLTPro-Condensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextLTPro-Condensed.woff2') format('woff2'),
    url('../fonts/DINNextLTPro-Condensed.woff') format('woff'),
    url('../fonts/DINNextLTPro-Condensed.ttf') format('truetype'),
    url('../fonts/DINNextLTPro-Condensed.svg#DINNextLTPro-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Midnight Street';
    src: url('../fonts/MidnightStreet.eot');
    src: url('../fonts/MidnightStreet.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MidnightStreet.woff2') format('woff2'),
    url('../fonts/MidnightStreet.woff') format('woff'),
    url('../fonts/MidnightStreet.ttf') format('truetype'),
    url('../fonts/MidnightStreet.svg#MidnightStreet') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* COSTUME THEME */

*{
    margin: 0;
    padding: 0;
    outline: none;
}
a:focus{
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: 0;
    box-shadow: none;
    outline-offset: 0;
}
section{
    padding: 0;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
header ul{
    padding: 0;
    margin: 0;
}
header ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 29px 0 0;
}
header ul li a{
    margin: 0 5px 0 0;
}

.top-header ul li a{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-stretch: condensed;
    color: #324188;
}
.top-header {
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    padding: 5px 0;
}
.top-header ul li svg{
    display: inline-block;
    width: 14px;
    height: auto;
}
.top-header ul li svg path{
    fill: #324188;
}
.header-menu{
    position: relative;
}
.header-menu .logo{
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 25px 29px 0 rgba(0, 0, 0, 0.11);
    max-width: 201px;
    text-align: center;
    padding: 0 0 20px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.header-menu .logo img{
    display: block;
    margin: 0 auto;
}
.header-menu{
    background-color: #ffffff;
    -webkit-box-shadow: 0px 8px 38px -5px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 8px 38px -5px rgba(0,0,0,0.17);
    box-shadow: 0px 8px 38px -5px rgba(0,0,0,0.17);
    height: 81px;
}
.header-menu ul{
    padding: 26.5px 0 26.5px 37px;
    margin: 0;
}
.header-menu ul li a{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    text-align: left;
    color: #324188;
}
.header-menu ul li{
    margin: 0 37px 0 0;
}
.row.remove-padding > div{
    padding-left: 0;
    padding-right: 0;
}
.ticket{
    background-color: #cfb22f;
    max-width: 196px;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    text-align: right;
    padding: 16px 25px 16px 0px;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    height: 53px;
    display: block;
    margin-top: 12.6px;
    background-image: url("../images/ticket.png");
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.parent-presentation{
    display: flex;
    height: 100vh;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.parent-presentation .big-text{
    font-family: "Midnight Street" , sans-serif;
    font-size: 327.6px;
    color: #ffffff;
    line-height: 0.8;
}
.parent-presentation .small-text{
    font-family: "Midnight Street" , sans-serif;
    font-size: 109.2px;
    line-height: 0;
    text-align: center;
    color: #ffffff;
}

.parent-presentation svg{
    display: inline-block;
    width: 65px;
    height: 65px;
}
.parent-presentation svg.spin{
    animation: spin 1.5s infinite;
    width: 90px;
    height: 90px;
}
.parent-presentation svg path{
    fill: #fff;
}
.parent-presentation a svg{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.play-button{
    background: transparent;
    border: none;
    position: absolute;
    left: 12px;
    top: -62px;
}
.parent-presentation a:hover button svg{
    animation: pulse 2s infinite;
}


.parent-presentation a{
    position: relative;
}
@-webkit-keyframes spin{
    0%{
        -moz-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
    }
    100%{
        -moz-transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
    }
}

@-moz-keyframes spin{
    0%{
        -moz-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
    }
    100%{
        -moz-transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
    }
}

@-o-keyframes pulse{
    0%{
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    100%{
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
}

@-webkit-keyframes pulse{
    0%{
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    100%{
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
}

@-ms-keyframes pulse{
    0%{
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    100%{
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
}

@-moz-keyframes pulse{
    0%{
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    100%{
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
}
.front-presentation{
    position: relative;
    overflow: hidden;
}
.front-presentation .banner__video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.front-presentation video {
    position: absolute;
    top: 0px;
    left: 0;
    width: auto;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    display: block;
    height: 100vh;
}
.front-presentation .content{
    position: relative;
    z-index: 1;
}
.stop-video{
    display: none;
}
#modal-video .close{
    position: relative;
    right: 20px;
    top: 20px;
    opacity: 1;
}
.video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0 , 0, 0, .5);
}
.different-logo{
    width: 100%;
    padding-top: 24px;
}
.category-box-big{
    background: #fff;
    padding: 16px 72px;
    border-radius: 5px;
    min-height: 270px;
    position: relative;
    display: flex;
    align-items: center;
}
.category-box-big.blue-border{
    border-bottom: 12px solid #353b7f;
    box-shadow: 0 27px 59px 0 rgba(53, 59, 127, 0.24);
}
.category-box-big.red-border{
    border-bottom: 12px solid #ed2b2b;
    box-shadow: 0 27px 59px 0 rgba(53, 59, 127, 0.24);
}
.name-category{
    font-family: "Coolvetica Rg Regular" , sans-serif;
    font-size: 60px;
    text-align: center;
    color: #353b7f;
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 0 15px;
}
.category_interesting{
    margin-top: -90px;
}
.description-section{
    padding: 55px 200px;
}
.btn.btn-default{
    background-color: #cfb22f;
    box-shadow: 0 14px 18px 0 rgba(207, 178, 47, 0.44);
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    text-align: center;
    color: #ffffff;
    padding: 13px 67.5px;
    border: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.btn.btn-default:hover{
    color: #000 !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.btn{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.btn:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0.8;
}
section.posts-slider{
    padding: 90px 0 20px 0;
}
.posts-slider.slider .swiper-slide{
    background: #000;
    width: auto;
    height: 475px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 27px 59px 0 rgba(53, 59, 127, 0.24);
}
.posts-slider.slider .title-slide{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: "Coolvetica Rg Regular" , sans-serif;
    font-size: 60px;
    line-height: 0.78;
    text-align: right;
    color: #ffffff;
    max-width: 540px;
}
.posts-slider.slider .swiper-slide img{
    position: relative;
    top: -90px;
}
.posts-slider.slider .swiper-wrapper{
    padding-bottom: 60px;
}
.posts-pagination .swiper-pagination-bullet{
    width: 80px;
    height: 10px;
    opacity: 0.7;
    background-color: #353b7f;
    border-radius: 50px;
}
.posts-pagination .swiper-pagination-bullet-active{
    opacity: 1;
}
.simple-border{
    margin-top: -6px;
    width: 80px;
    border-bottom: 1px solid #353b7f;
}
footer .strong-text{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    text-align: left;
    color: #324188;
}
footer .light-text,
.light-text a{
    font-family: "DIN Next LT Pro Light" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #324188;
}
.company-info{
    background: url("../images/map-adress.png");
    background-repeat: no-repeat;
    background-position: right center;
}
footer{
    background: #fafafa;
}
.overlay-address{
    position: relative;
    min-height: 202px;
}
.overlay-address a{
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
}
.company-info{
    padding: 46px 0;
}
.other-links{
    padding: 46px 0;
}
.social-links{
    padding: 46px 0;
}
.social-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 7px;
}
.social-links ul li a{
    width: 25px;
    height: 25px;
    background-color: #2f2f2f;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    padding: 2px 0;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.social-links ul li a:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: #353b7f;
}
.short-info,
.short-info a{
    font-family: "DIN Next LT Pro Light" , sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: center;
    color: #999999;
}
.copyright-text{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: center;
    color: #777777;
    margin-top: 30px;
}
.copyright{
    background-color: #f5f5f5;
    padding: 15px 0;
}
.subscribe input{
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    padding: 13.5px 16px;
    font-family: "DIN Next LT Pro Light" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #484848;
    width: 100%;
    margin-top: 20px;
}
.subscribe input:-moz-placeholder{
    font-family: "DIN Next LT Pro Light" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
}
.subscribe input:-ms-input-placeholder{
    font-family: "DIN Next LT Pro Light" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
}
.subscribe input::-moz-placeholder{
    font-family: "DIN Next LT Pro Light" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
}
.subscribe input::-webkit-input-placeholder{
    font-family: "DIN Next LT Pro Light" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
}
.subscribe label{
    display: block;
    width: 100%;
}
.subscribe{
    position: relative;
}
.subscribe button{
    position: absolute;
    top: 9px;
    right: 5px;
    background: none;
}
.name-section{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    text-align: left;
    color: #324188;
    margin-bottom: 25px;
}
form label,
form label.control-label{
    display: block;
}
form label input ,
form label input.form-control{
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #484848;
    padding: 13.5px 25px;
}
form label input.form-control:-moz-placeholder{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #484848;
}
form label input.form-control::-moz-placeholder{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #484848;
}
form label input.form-control:-ms-input-placeholder{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #484848;
}
form label input.form-control::-webkit-input-placeholder{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #484848;
}
form textarea{
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #484848;
    padding: 25px 25px;
    resize: none;
    height: 181px;
}
form div{
    margin: 0;
}
form div:last-of-type{
    margin: 0;
}
.select2-container{
    display: block;
    width: 100% !important;
    max-width: 100% !important;
}
.select2-container .select2-selection--single{
    height: 52px;
    border: solid 1px #e0e0e0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 52px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 52px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #484848;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 25px;
}
.upload-file img{
    margin-top: 20px;
}
.upload-file button {
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    color: rgba(72, 72, 72, 0.3);
}
.upload-file{
    padding-top: 50px;
    border-radius: 5px;
    height: 181px;
    border: solid 1px #e0e0e0;
}
.submit-costume{
    text-align: right !important;
    padding: 12px 20px !important;
    max-width: 195px;
    width: 100%;
    background: url("../images/send-mail.png");
    background-position: left center;
}
.contact-us{
    padding: 20px 0 110px 0;
}
.gallery{
    padding: 110px 0 75px 0;
}
.gallery-item{
    position: relative;
    width: 100%;
    height: 111px;
    overflow: hidden;
    border-radius: 5px;
    background: #000;
}
.gallery-item img{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 1;
}
.gallery-item .date-post{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 22px;
    font-stretch: condensed;
    color: #ffffff;
}
.gallery-item:hover img{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -ms-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
    opacity: 0.6;
}
.answer{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #2c2c2c;
    display: none;
    margin-top: 18px;
}
.questions{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    text-align: left;
    color: #324188;
    position: relative;
}
.questions-group{
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    padding: 23px 75px;
    margin-bottom: 18px;
}
.questions-group:hover{
    cursor: pointer;
}
.questions-group:last-of-type{
    margin: 0;
}
.number-questions{
    width: 32px;
    height: 32px;
    background-color: #324188;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    margin-right: 10px;
}
.faq{
    padding: 0 0 50px 0;
}
.questions .chevron{
    position: absolute;
    right: 70px;
    top: 7px;
}
.jq-checkbox{
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: solid 2px #35468e;
    background-image: none;
    box-shadow: none;
    overflow: visible !important;
    margin-right: 10px !important;
}
.jq-checkbox.checked .jq-checkbox__div{
    background: url("../images/checked.png");
    box-shadow: none;
    width: 18px;
    height: 18px;
    margin: 0;
    position: absolute;
    top: -3px;
    left: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}
.confirm-terms {
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #484848;
}
.confirm-terms a{
    color: #35468e;
}
.big-title{
    font-family: "Coolvetica Rg Regular" , sans-serif;
    font-size: 60px;
    text-align: left;
    color: #353b7f;
    padding-left: 40px;
    margin-bottom: 40px;
}
.join-us{
    margin-top: -200px;
    padding: 0 0 80px 0;
}
.join-form{
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 21.6px 16.2px 59px 0 rgba(53, 59, 127, 0.24);
    border-bottom: 17px solid #353b7f;
    overflow: hidden;
    border-bottom: 17px solid #353b7f;
}
.costume-select .select2-container--default .select2-selection--single .select2-selection__arrow b{
    display: none;
}
.costume-select .select2-container--default .select2-selection--single .select2-selection__arrow:before{
    content: "";
    background-image: url("../images/arrows.png");
    width: 10px;
    height: 15px;
    display: block;
    position: absolute;
    top: 20px;
    right: 21px;
}
.join-form .right-box{
    background-color: #f5f5f5;
    padding: 115px 90px 80px 90px;
}
.join-form .left-box{
    background: #fff;
    padding: 80px 90px 80px 90px;
}
.join-form .remove-padding > div:first-child{
    padding-left: 15px;
}
.join-form .remove-padding > div:last-child{
    padding-right: 15px;
}
.join-form .more-info .small-title{
    font-family: 'Coolvetica Rg Regular' ,  sans-serif;
    font-size: 40px;
    text-align: center;
    color: #353b7f;
    margin: 45px 0 27px 0;
}
.join-form .more-info img{
    display: block;
    margin: 0 auto;
}
.join-form .more-info:first-child{
    margin: 0 0 125px 0;
}

/* CALENDAR SLIDER */
.calendar-checkbox{
    background: #fff;
    height: 40px;
}
.calendar-checkbox .swiper-slide .day:hover{
    cursor: pointer;
    background-color: #ec2b2c;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fff;
}
.calendar-checkbox .swiper-slide .day.event:hover:after{
    background: #fff !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.calendar-checkbox .swiper-slide{
    width: 47.7742px;
    display: inline-block;
    margin: 0 auto;
}
.calendar-checkbox .swiper-slide .day{
    border-left: 1px solid #f0f0f2;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    font-stretch: condensed;
    letter-spacing: 0.2px;
    color: #4b4b4b;
    background-color: #fafafa;
    width: 47px;
    height: 52px;
    display: inline-block;
    padding: 8px 0;
    text-align: center;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.calendar-checkbox .swiper-slide .day.event:after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: red;
    position: absolute;
    bottom: 10px;
    left: 45%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.calendar-checkbox .swiper-slide{
    position: relative;
}
.calendar-checkbox .swiper-slide .name-day{
    position: absolute;
    bottom: -27px;
    width: 47.7742px;
    font-weight: 300;
    font-stretch: condensed;
    color: #939393;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 16px;
    text-align: center;
}

.swiper-slide .checked{
    background-color: #ec2b2c !important;
    color: #fff !important;
}
.checked.event:after{
    background: #fff !important;
}
.calendar-checkbox .swiper-wrapper{
    padding-bottom: 25px;
}
.calendar-tabs .swiper-slide{
    width: 47.7742px;
}
.calendar-tabs .nav-tabs li{
    display: inline-block;
    float: none;
    margin: 0;
}
.calendar-tabs .nav-tabs{
    text-align: center;
    border: none;
    padding: 30px 0;
}
.calendar-tabs .nav-tabs>li>a{
    border-radius: 5px;
    margin: 0;
    border: solid 1px transparent;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    text-align: center;
    color: #4b4b4b;
}
.calendar-tabs .nav-tabs>li.active>a,
.calendar-tbas .nav-tabs>li.active>a:focus,
.calendar-tabs .nav-tabs>li.active>a:hover,
.calendar-tabs .nav-tabs>li>a:hover{
    border: solid 1px #ed2b2b;
    background: transparent;
    margin: 0;
}
.post-filter .container{
    max-width: 1450px !important;
    width: 100%;
    margin: 0 auto;
}
.post-filter{
    padding: 80px 0;
}

.category-posts{
    margin-top: 90px;
}

.category-posts .nav-tabs li{
    display: inline-block;
    float: none;
    margin: 0;
}
.category-posts .nav-tabs{
    text-align: center;
    border: none;
    padding: 30px 0;
    width: 100%;
    display: block;
}
.category-posts .nav-tabs>li>a{
    border-radius: 5px;
    margin: 0;
    border: solid 1px transparent;
    font-family: "DIN Next LT Pro" , sans-serif;
    text-align: center;
    font-size: 20px;
    font-stretch: condensed;
    color: #5c5c5c;
    display: inline-block;
    padding: 12px 63.5px;
}
.category-posts .nav-tabs>li.active>a,
.category-posts .nav-tabs>li.active>a:focus,
.category-posts .nav-tabs>li.active>a:hover,
.category-posts .nav-tabs>li>a:hover{
    border: solid 1px #ed2b2b;
    background: transparent;
    margin: 0;
    position: relative;
}
.category-posts .nav-tabs>li.active:after{
    content: url("../images/success.png");
    position: absolute;
    top: -7px;
    right: -7px;
}
.post-box{
    position: relative;
    border-radius: 5px;
    background-color: #fafafa;
    border: solid 1px #ebebeb;
    overflow: hidden;
}
.post-box.big-box{
    height: 425px;
}
.post-box.big-box .img-post{
    position: relative;
    height: 331px;
    overflow: hidden;
}
.post-box.small-box .img-post{
    height: 114px;
    overflow: hidden;
    position: relative;
}
.post-box.small-box{
    height: 198px;
    margin-bottom: 30px;
}
.post-box .img-post img{
    width: 100%;
    height: 100%;
}
.post-box .short-title{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 25px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 1.08;
    text-align: left;
    color: #646464;
}
.post-box .footer-post a{
    background-color: #ebebeb;
    display: block;
    width: 100%;
    max-width: 89px;
    height: 53px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px #ebebeb;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    color: #5c5c5c;
    padding: 13px 0 13px 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.post-box .footer-post a:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #ed2b2b;
    color: #fff;
}
.post-box .footer-post{
    padding: 18px;
}
.post-box .posted{
    position: relative;
    bottom: 0px;
    left: 0px;
    padding: 13px;
    height: 100%;
    width: 86px;
    background: rgba(255,255,255, .7);
}
.post-box .posted .posted-content{
    position: absolute;
    bottom: 18px;
}
.post-box .posted .hour{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 36px;
    font-stretch: condensed;
    color: #324188;
}
.post-box .posted .date{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 17.3px;
    font-stretch: condensed;
    color: #324188;
}
.post-for-kids{
    width: 59px;
    height: 17px;
    background-color: #ec2b2c;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 14px;
    font-stretch: condensed;
    text-align: center;
    color: #ffffff;
    padding: 1px 0;
}
.post-for-parent{
    width: 59px;
    height: 17px;
    background-color: #353b7f;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 14px;
    font-stretch: condensed;
    text-align: center;
    color: #ffffff;
    padding: 1px 0;
}
.modal-body .container{
    max-width: 980px;
    width: 100%;
}
#post-modal .modal-dialog{
    width: 100%;
    margin: 0;
}
#post-modal .modal-content{
    height: 100vh;
    border-radius: 0;
    background:  #fafafa;
    overflow-x: hidden;
    overflow-y: auto;
}
#post-modal .modal-body{
    padding: 0;
}
#post-modal .modal-header{
    border: none;
}
#post-modal .close{
    opacity: 1;
}
#post-modal .close{
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1;
}
.title-post{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 0.9;
    text-align: center;
    color: #646464;
    margin-bottom: 20px;
}
.post-box-details{
    padding: 20px 34px;
    background: #fff;
    height: 147px;
    text-align: center;
    overflow: hidden;
}
.post-box-details .simple-text{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 22.1px;
    font-stretch: condensed;
    text-align: center;
    color: #324188;
    margin-top: 15px;
}
#post-modal .description{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #4f4f4f;
    margin-top: 30px;
}
#post-modal .description p{
    margin: 0 0 20px 0;
}
#post-modal .post-info{
    background: #fafafa;
    padding: 30px 0;
}
#post-modal .gallery{
    background: #fff;
    padding: 37px 0;
}
.footer-modal{
    padding: 38px 0;
    background: #efefef;
}
.btn-primary.views,
.btn-primary.share{
    max-width: 87px;
    padding: 15px 25px;
    background-color: #efefef;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 14px;
    font-stretch: condensed;
    letter-spacing: 0.1px;
    text-align: center;
    color: #324188;
    border: none;
}
.btn-primary.views span,
.btn-primary.share span{
    margin: 0 10px 0 0;
}
.social-retails-plugins{
    padding: 33px 0;
}
button.share{
    margin-right: 30px !important;
}
button.facebook-share{
    background-color: #324188;
    padding: 15px;
    border: none !important;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 60px;
    position: relative;
}
button.facebook-share:before{
    content:"\25C0";
    position: absolute;
    left: -11px;
    color: #324188;
}
button.twitter-share{
    background-color: #76a7e6;
    width: 60px;
    border: none !important;
    border-radius: 0;
    padding: 15px;
}
button.twitter-share:hover,
button.google-plus-share:hover,
button.google-plus-share:hover{
    border: none !important;
}
button.google-plus-share{
    border: none !important;
    border-radius: 0;
    width: 60px;
    background-color: #f14d40;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
}
.social-retails-plugins button{
    margin: 0 -2px;
}
.attractions .description {
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: center;
    color: #222222;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
}
.sort-attractions{
    padding: 40px 0;
}
.nav-tabs{
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    width: 100%;
}
.nav-tabs > li{
    display: inline-block;
    float: none;
}
.nav > li > a{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    text-align: center;
    color: #5c5c5c;
    padding: 12px 30px;
    height: 53px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover{
    background: transparent;
    position: relative;
    border: solid 1px #cfb22f;
    color: #cfb22f;
}
.nav-tabs>li.active:after{
    content: url("../images/yellow-succes-icon.png");
    position: absolute;
    top: -7px;
    right: -7px;
}


.grid-item {
    float: left;
    width: 285px;
    height: 270px;
    padding: 13px 13px;
    position: relative;
}

.grid-item--width2 { width: 570px; }
.grid-item--height2 { height: 538px; }


.attractions{
    padding: 52px 0 33px 0;
}
.attraction-box{
    text-align: center;
    padding: 10px 0;
    perspective: 800px;
    border: solid 1px #ebebeb;
    -webkit-perspective: 800;
    position: relative;
    height: 100%;
}
.attraction-box .img-box .small-img{
    display: block;
    margin: 0 auto;
}
.attraction-box .img-box {
    height: 173px;
    overflow: hidden;
    padding-top: 20px;
}
.attraction-box .name-box{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 25px;
    font-stretch: condensed;
    text-align: center;
    color: #324188;
    margin-top: 12px;
    text-transform: uppercase;
    position: relative;
    top: -15px;
}
.big-img{
    display: none;
}
.attraction-box .front{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.attraction-box .back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    padding: 48px;
    border-radius: 5px;
    background-color: #fafafa;
}
.attraction-box .close-flip{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 0;
    background: transparent;
}
.attraction-box .inline-gallery .img-box{
    height: 103px !important;
    border-radius: 5px;
}
.attraction-box .inline-gallery .img-box img{
    display: block;
    height: 100%;
    width: auto;
}
.attraction-box .description{
    margin-top: 20px;
}
.attraction-box .parameters ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}
.attraction-box .parameters ul li > div{
    width: 24px;
    height: 24px;
    background-color: #324188;
    border-radius: 100px;
    display: inline-block;
    padding: 6px 0 0 0;
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}
.attraction-box .more-details{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: center;
    color: #222222;
    border-bottom: 1px dashed #000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.attraction-box .footer-attraction-box{
    background-color: #efefef;
    border: solid 1px #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 38px;
}
.attraction-box .ticket{
    margin: 0;
}
.attraction-box .rules{
    font-family: "DIN Next LT Pro" , sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: center;
    color: #222222;
    border-bottom: 1px dashed #000;
    margin-top: 12px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.attraction-box .back a:hover{
    color: #cfb22f;
    border-color: #cfb22f;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.ticket:hover{
    color: #000 !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.grid-item.inactive { pointer-events: none; }
.grid-item.active { pointer-events: auto; }
