.jq-checkbox ,.jq-radio{
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: solid 2px #35468e;
    background-image: none;
    box-shadow: none;
    overflow: visible !important;
    margin-right: 10px !important;
}

.jq-checkbox.checked .jq-checkbox__div ,.jq-radio.checked .jq-radio__div{
    background: url(../images/checked.png);
    box-shadow: none;
    width: 18px;
    height: 18px;
    margin: 0;
    position: absolute;
    top: -3px;
    left: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}

#buytickets-kidticketid-styler ,.jq-radio{
    padding: 0px 0px!important;
}

#buyer-form-t2 .form-control{
    height: auto!important;
}

.datepicker-inline .today.day{
    background: rgba(154, 147, 147, 0.2) !important;
}

.choose-menu .remove-padding .form-control , .plans .remove-padding .form-control{
    padding: 0 0;
}

form .choose-room  label{
    margin: 0 5px;
}