
.draggable {
    width: auto;
    height: auto;
    display: inline-block;
    z-index: 9;
    position: absolute;
    top:0;
    left: 0;

}
#droppable {
    width: 100%;
    height: 525px;
    background-color: transparent;
    background-size: 100% 100%;
    background-image: url("../images/harta1.png");
}
.draggable i{
    position: relative;
    top: -28px;
    left: -8px;
    cursor:move;
}

.draggable > i > span{
    font-size: 15px;
}

.draggable2 {
    width: auto;
    height: auto;
    display: inline-block;
    z-index: 9;
    position: absolute;
    top:0;
    left: 0;
}
#droppable2 {
    width: 100%;
    height: 525px;
    background-size: 100% 100%;
    background-color: transparent;
    background-image: url("../images/harta2.png");
}
.draggable2 i{
    position: relative;
    top: -28px;
    left: 8px;
    cursor:move;
}

.draggable2 > i > span{
    font-size: 15px;
}

.remove-block{
    display: block;
    height: 100px;
    border: 2px dashed red;
    color: red;
    border-radius: 10px;
}

.red-back{
    background: rgba(255, 0, 0, 0.31);
    border: 4px dashed red;


}

.btn-sm, .btn-group-sm > .btn{
    font-size: 25px!important;
}

.draggable i:hover, .draggable2 i:hover{
    font-size: 35px!important;
}